@model IEnumerable<WebNewsMVC.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categorys.Category_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_User_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categorys.Category_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_User_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.New_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.New_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.New_ID })
        </td>
    </tr>
}

</table>
